/* General Styling */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header,
footer {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

main {
  padding: 2rem;
}

/* Section Styling */
section {
  margin-bottom: 2rem;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
  margin-bottom: 1rem;
  color: #333;
}

/* Education Section */
.education-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.education-item h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: #555;
}

/* Projects Section */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
}

.project-item h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: #555;
}

/* Achievements Section */
.achievement-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.achievement-list li {
  margin-bottom: 0.5rem;
  color: #555;
}

/* Skills Section */
.skill-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.skill-list li {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #f2f2f2;
  border-radius: 4px;
  color: #555;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
  }

  .education-grid {
    grid-template-columns: 1fr;
  }

  .project-grid {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }

  .project-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .project-item img {
    max-width: 150px;
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
